@use '@styles/theme.scss' as *;

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($black-color, 0.6);
  @include flex(row);
  z-index: 1000;

  .container {
    background: $white-color;
    padding: 30px;
    border-radius: $base-border-radius;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba($black-color, 0.2);
    position: relative;
    @media (max-width: 600px) {
      max-width: 260px;
    }

    .modal_close {
      position: absolute;
      top: 10px;
      right: 10px;
      background: transparent;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }
  }
}
