@use '@styles/theme.scss' as *;

.container {
  position: absolute;
  right: 5%;
  bottom: -40px;
  @include flex(row, 5px);
  max-width: 250px;

  span {
    cursor: default;
    background: $secondary-orange-color;
    border-radius: 5px;
    padding: 5px 10px;
    @each $width, $fSize in $p_breakpoints {
      @media screen and (max-width: $width) {
        font-size: $fSize;
      }
    }
  }

  button {
    cursor: pointer;
    border: 0;
    background: $white-color;
    border-radius: 5px;
    padding: 5px 10px;
    @each $width, $fSize in $p_breakpoints {
      @media screen and (max-width: $width) {
        font-size: $fSize;
      }
    }

    &:hover {
      background: rgba($secondary-orange-color, 0.3);
    }
  }
}
