@use '@styles/theme.scss' as *;

.bookmark {
  position: absolute;
  @include resize(50px);
  @include flex(row);
  padding: 5px;
  top: 5%;
  right: 5%;
  background: transparent;
  border: 0;
  border-radius: $circle-border-radius;
  cursor: pointer;

  &:hover {
    background: rgba(150, 150, 0, 0.5);
  }

  img {
    @include resize(80%);
  }
}
