@use '@styles/theme.scss' as *;

//confirm
.confirm {
  h2 {
    font-family: $base-font-family;
  }
}
.buttons {
  @include flex(row, 16px);
  margin-top: 20px;

  button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: $base-border-radius;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;

    &:hover {
      transform: translateY(-2px);
      box-shadow:
        0 6px 8px rgba($black-color, 0.15),
        0 2px 4px rgba($black-color, 0.12);
    }

    &.agree {
      background-color: $success-color;
      color: $white-color;

      &:hover {
        background-color: rgba($success-color, 0.5);
      }
    }

    &.reject {
      background-color: $error-color;
      color: $white-color;

      &:hover {
        background-color: rgba($error-color, 0.5);
      }
    }
  }
}

//other characters
.otherCharacters {
  @include flex(column);

  .loader {
    padding: 20px 0;
    @include flex(row, 5px);
    font-size: 20px;
    img {
      animation: rotation 1s infinite;
    }
  }

  .otherCharactersList {
    margin-top: 20px;
    width: 100%;
    @include flex(column, 5px);

    .otherCharactersItem {
      width: fit-content;
      padding: 2px 5px;
      border-radius: $base-border-radius;
      cursor: pointer;
      font-size: 25px;

      &:hover {
        background: rgba($black-color, 0.3);
      }
    }
  }

  .pagination {
    margin-top: 10px;
    width: 100%;
    @include flex(row, 10px);

    button {
      width: 10%;
      padding: 5px;
      @include flex(row);
      border: 0;
      border-radius: $circle-border-radius;
      background: transparent;
      cursor: pointer;

      &:hover:not(:disabled) {
        background: rgba($black-color, 0.2);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      img {
        width: 100%;
      }
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
