@use '@styles/theme.scss' as *;

.container {
  position: relative;
  z-index: 1;
  display: none;
  height: fit-content;
  cursor: pointer;

  @media (max-width: 700px) {
    display: block;
  }

  > img {
    @include resize(50px);
  }
}
