@use '@styles/theme.scss' as *;

.container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 5%;
  position: relative;

  h1 {
    margin: 50px 0 30px;
    text-align: center;
    font-size: 40px;
    font-family: $base-font-family;
    @media (max-width: 800px) {
      text-align: left;
      font-size: 35px;
    }
    @media (max-width: 600px) {
      text-align: left;
      font-size: 25px;
    }
  }

  .cards {
    width: 100%;
    @include flex(row, 30px, flex-start, flex-start);
    padding: 10px;
    height: 550px;
    overflow: auto hidden;
    @media (max-width: 700px) {
      height: 400px;
    }

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($black-color, 0.3);
      border-radius: $base-border-radius;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba($black-color, 0.5);
    }

    &::-webkit-scrollbar-track {
      background: rgba($black-color, 0.1);
      border-radius: $base-border-radius;
    }
  }

  .empty {
    height: 350px;

    h3 {
      font-family: $base-font-family;
      width: 100%;
      text-align: center;
    }
  }

  .clear {
    position: absolute;
    top: 0;
    left: 85%;
    background-color: $error-color;
    color: $white-color;
    border: none;
    padding: 12px 15px;
    border-radius: $circle-border-radius;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;

    @media (max-width: 800px) {
      left: 80%;
    }
    @media (max-width: 600px) {
      padding: 7px 10px;
    }

    &:hover {
      background-color: rgba($error-color, 0.5);
      transform: translateY(-2px);
    }

    &::after {
      content: 'Clear favorite characters';
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba($black-color, 0.8);
      color: $white-color;
      padding: 8px 12px;
      font-size: 14px;
      border-radius: 4px;
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
      @media (max-width: 600px) {
        content: '';
        padding: 0;
      }
    }

    &:hover::after {
      transition-delay: 0.3s;
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(-5px);
    }

    img {
      @include resize(20px);
      @media (max-width: 600px) {
        @include resize(15px);
      }
    }
  }

  .controls {
    @include flex(row, 0, center, space-between);
    position: absolute;
    width: 90%;
    top: 45%;

    button {
      z-index: 1;
      background-color: $white-color;
      opacity: 0.3;
      border: none;
      border-radius: $circle-border-radius;
      padding: 10px 10px 5px;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      img {
        @include resize(30px);
        @media (max-width: 600px) {
          @include resize(20px);
        }
      }
    }
  }
}
