@mixin animBackground {
  background: linear-gradient(
    110deg,
    rgb(236, 236, 236) 8%,
    rgb(245, 245, 245) 18%,
    rgb(236, 236, 236) 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@mixin flex($direction, $gap:0, $align:center, $justify:center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin resize($size) {
  width: $size;
  height: $size;
}

$base-font-family: 'Lexend Deca';
$base-border-radius: 7px;
$circle-border-radius: 50%;

$primary-orange-color: rgb(224, 164, 73);
$secondary-orange-color: rgb(241, 121, 0);
$primary-color-hover: rgb(251, 215, 178);
$dark-green-color: rgb(0, 79, 76);

$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);

$selected-color: rgb(155, 170, 255);
$success-color:rgb(76, 175, 80);
$info-color: rgb(107, 107, 255);
$error-color: rgb(255, 0, 0);

$p_breakpoints: (
    3000px: 25px,
    1800px: 20px,
    1000px: 15px,
);
