.container {
  font-family: Arial, sans-serif;
  padding: 20px;
  min-height: 55vh;
}

.info_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}

.character_header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px 50px;
  height: 300px;

  img {
    height: 100%;
    width: 250px;
  }
}

.films_container {
  width: 70%;
  margin-top: 10px;

  .films {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px; /* Space between items */

    .filmItem {
      display: inline;
      cursor: pointer;
      &:hover {
        color: rgb(0, 197, 79);
      }
    }
  }
}
