@import '@styles/theme.scss';

.bookmark {
  cursor: pointer;
  padding: 0;
  border: 0;
  border-radius: 35px;
  background: $skeleton-bg-color;

  @each $width, $block_size in $bookmark_block_breackpoints {
    @media screen and (max-width: $width) {
      width: $block_size;
      height: $block_size;
    }
  }

  &:hover {
    background: rgba($primary-color-hover, 0.3);
  }

  img {
    padding: 17px;
    width: 30px;
    height: 30px;

    @media(max-width:1200px) {
      width: 25px;
      height: 25px;
    }

    @media(min-width:1700px) {
      width: 40px;
      height: 40px;
    }
  }
}