.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(132, 132, 132, 1);
  border-bottom-right-radius: 15px;
  margin: -100% 0 0 -100%;
  width: 50%;
  height: 200px;
  transition: margin 0.7s ease-in-out;

  @media (max-width: 500px) {
    width: 60%;
  }

  &.isOpen {
    margin: 0;
    transition: margin 0.7s ease-in-out;
  }

  .menu {
    position: relative;
    top: 20%;
    left: 10%;
    width: 80%;
  }
}
