@import '@styles/theme.scss';

.page_404 {
  font-family: 'Arvo', serif;

  .four_zero_four_bg {
    position: absolute;
    bottom: 0;
    background-position: center;
    height: 60%;
    width: 100%;
    overflow: hidden;
    z-index: -1;

    img {
      position: absolute;
      bottom: -23vh;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .content_box_404 {
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 80px;
    }

    h3 {
      font-size: 60px;
    }

    p {
      font-size: 25px;
    }

    a {
      color: $skeleton-bg-color;
      padding: 10px 20px;
      background: $secondary-orange-color;
      margin: 20px 0;
      display: inline-block;
      text-decoration: none;
    }
  }
}