.footer {
  padding: 30px 10px;
  margin-top: 50px;
  background: rgb(37, 0, 0);
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  .socials {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    a {
      width: 20%;
      img {
        width: 100%;
      }
    }
  }
  p {
    color: aliceblue;
  }
}
