@use '@styles/theme.scss' as *;

.navigation {
  ul {
    @include flex(row, 20px, flex-start);
    @media (max-width:700px) {
      flex-direction: column;
    }
    
    li {
      color: $white-color;
      width: fit-content;
      padding: 5px;
      list-style: none;
      font-family: $base-font-family;
      cursor: pointer;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $primary-color-hover;
      }
    }
  }
}
